.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-header {
  font-size: 32px;
  font-weight: 500;
  font-family: 'Jazz LET, fantasy', Arial, sans-serif;
  color: rgb(194, 138, 34);
  /* #4c4c4c */
  margin: 80px 0 20px 0;
}

.home-adventureButton {
  margin-top: 5rem;
  padding: 8px;
  background-color: #4c4c4c;
  border-radius: 10px;
  font-family: 'Jazz LET, fantasy', Arial, sans-serif;
  cursor: pointer;
  transition: 0.3s;
}

.home-adventureButton:hover {
  color: rgb(194, 138, 34);
  transition: 0.3s;
}

/* .AdventureLists-container {
  width: 80%;
} */
