.signUp-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.signUp-container {
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4c4c4c;
  border-radius: 15px;
}

.signUp-title {
  font-size: 20px;
  align-self: center;
  margin-bottom: 30px;
  color: rgb(194, 138, 34);
  background-color: transparent;
}

.signUp-form {
  display: flex;
  flex-direction: column;
  /* padding-bottom: 10px; */
  background-color: transparent;
}

.signUp-form label {
  justify-self: flex-end;
  background-color: transparent;
}

.signUp-form label:not(:first-child) {
  padding-top: 15px;
}

.signUp-form input {
  outline-width: 0;
  border: none;
  border-bottom: 1px solid #efefef;
  padding-top: 15px;
  background-color: transparent;
  border-bottom: 2px solid rgb(194, 138, 34);
}

.signUp-button {
  padding: 5px 10px;
  border: none;
  background-color: #efefef;
  min-width: 100%;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  /* font-weight: 700; */
  background-color: #1e1e1e;
  color: rgb(194, 138, 34);
  transition: 0.3s;
}

.signUp-button:hover {
  transition: 0.3s;
  background-color: rgb(194, 138, 34);
  color: #1e1e1e;
}

.signUp-form p {
  width: 250px;
  background-color: transparent;
  padding-top: 3px;
  font-size: 12px;
  color: rgb(194, 138, 34);
}

.signUp-link {
  margin-top: 10px;
  background-color: transparent;
  color: #1e1e1e;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 700;
}

.signUp-link:hover {
  color: rgb(194, 138, 34);
  transition: 0.3s;
}
